<div class="form-container text-center">
  <%= simple_form_for (@cocktail) do |f| %>
    <div class="form-input">
      <%= f.input :name %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
    </div>
    <div class="form-submit">
      <%= f.submit "Submit", class: "btn btn-primary"%>
    </div>
  <% end %>
</div>
